[2013-03-21 18:02] Duvel opened #1 "Arduino recieves transmission in one byte per transmission."
Hello,

When I send a transmission from a Raspberry Pi to an Arduino, the Arduino recieves the bytes in separate transmissions it seems.

The result on the arduino is:
numBytes: 1
char: R
numBytes: 1
char: S
numBytes: 1
char: I

I post the code in separate comments.

Greetz,

Remco Schoen

[2013-04-01 23:08] AccaliaDeElementia opened #2 "Cannot find module '../build/Release/i2c'"
Installed i2c module as per front page instruction on a Raspberry pi running Raspbian wheezy

[code]

Cannot use the module due to error.

[code]

generates the error:
    accalia@Lilly ~/test $ js

    Error: Cannot find module '../build/Release/i2c'
        at Function._resolveFilename (module.js:337:11)
        at Function._load (module.js:279:25)
        at Module.require (module.js:359:17)

[2013-04-02 01:18] #2 closed, assigned to nobody

[2013-04-30 20:44] robotnic opened #3 "i2c.node: undefined symbol: _ZN2v...."
I have  the FTDI UM201XB and now I try to talk to this device using your library.

My Program:
var i2c = require('i2c');
var wire = new i2c('/dev/i2c-0', {debug: true});

Output:

/node_modules/i2c/build/Release/i2c.node: undefined symbol: _ZN2v816FunctionTemplate3NewEPFNS_6HandleINS_5ValueEEERKNS_9ArgumentsEES3_NS1_INS_9SignatureEEEi
    at Module.load (module.js:356:32)
    at Function.Module._l

[2013-05-09 19:44] #1 closed, assigned to kelly

[2013-05-12 19:09] Duvel opened #4 "Version 0.1.0 not working"
If I use my code from #1 and change it to the new writeBytes nothing happens at all, no clue at what is wrong.

[2013-05-12 19:11] Duvel opened #5 "Change default i2c device to /dev/i2c-1"
Hi,

Maybe you could change the default device to /dev/i2c-1, as this is now for all Raspberry Pi boards after the rev 1 board.

[2013-05-15 06:23] #5 closed, assigned to nobody

[2013-05-15 06:24] #4 closed, assigned to nobody

[2013-05-18 10:31] Duvel opened #6 "Readme not correct"
Hi,

I was just testing the new version and I now decided to test your readme as well :)

If I use this:

[code]

I get this error:

var wire = new i2c(4, device:'/dev/i2c-1'); // point to your i2c device, debug
                            ^
SyntaxError: Unexpected token :
    at Module._compile (module.js:437:25)
    at Object.Module._extensions..js (module.js:467:10)
    at Module.load (module.j

[2013-05-19 16:39] #6 closed, assigned to nobody

[2013-05-22 18:44] mofux opened #7 "Problem talking to multiple i2c devices"
Hi,

after the update the i2c address has to be passed to the constructor when initialising a new i2c device. Unfortunately this does not account for talking to multiple i2c devices:

[code]

Is this behaviour intended? If so, what would be the correct way to change the i2c address after initialisation?

[2013-05-23 04:03] #3 closed, assigned to nobody

[2013-05-30 14:56] jbaldwinroberts opened #8 "Returned data is incorrect"
Hi,

Thanks for this.

Im trying to get communications working between a raspberry pi and an mBed.

My raspberry pi code is:

[code]

My mBed code is:

[code]

For some reason my mBed shows on my raspberry pi as 0x08 even though its address is set to 0x10, although i dont think this matters?

When i run the raspberry pi code my mBed outputs:

Write Addressed: 1 // This is equal to 49 converted to

[2013-06-04 03:01] #8 closed, assigned to nobody

[2013-06-23 17:36] mduitz opened #10 "readByte causes 2 bytes to be read"
i2c.cc
In
Handle<Value> ReadByte(const Arguments& args) {
...
int8_t res = i2c_smbus_read_byte(fd);

  if (i2c_smbus_read_byte(fd) == -1) {

should be

int8_t res = i2c_smbus_read_byte(fd);

  if (res == -1) {

[2013-06-23 18:02] #10 closed, assigned to nobody

[2013-07-18 15:46] discreetmayor opened #11 "Signal pipe overflow"
Not sure you can do anything about this, but using readBytes() in a loop (even with a timeout) will eventually result in a signal pipe overflow.

In versions of node prior to 0.10.8, this will result in an unexplained crash because of a bug in node.js itself (fixed here https://github.com/joyent/libuv/commit/c5d570ddba7b3e95fdade96758df0eb2d24cf42f).

But the fact remains that the signal pipe can

[2013-08-20 14:07] pandringa opened #12 "string_decoder.js Error when creating i2c connection"
I'm trying to get your module working, but I have a problem...
Just to test it, I'm using a simple test file that goes

[code]

But when I run the script with node, I get an error like this
https://gist.github.com/pandringa/6281910

What is the problem here? I'm using node 0.10.0, and I just installed your library a few minutes ago, so I know its not old.
Thanks for your help,
Peter

[2013-09-13 16:14] ghost opened #13 "Segmentation Fault Reading MCP3424 A/D Converter"
I am getting a 'segmentation fault' with the below code running on a BeagleBone Black (node version v0.8.22) communicating with a MCP3424 digital/analog converter:

[code]

Obviously this is a pared down version of the code.   It will generally fail within a single digit number of minutes but sometimes it will take longer.

This code is a key element of a pro-bono project that I am doing for a non

[2013-09-15 12:21] ghost opened #14 "Hang on wire.stream Reading MCP3424 A/D Converter"
Mentioned in above post but thought that I would post as it's own issue.   The below code...

[code]

...never returns from the wire.stream command. The data event is triggered so things are working in the background.   Other events (not shown in this example), such as an incoming socket message, are not handled.

The above test was run on a BeagleBone Black on a clean new O/S installed from the 0

[2013-09-23 10:05] omkarkhair opened #15 "Problem connecting DS1672 (RTC)"
I'm new to I2C on Node.js and I'm not sure about the address to use, while connecting the RTC with my BeagleBone Black.

I want to periodically read data from the RTC. Here's my code.

[code]

I am using `0xD1` as the address as per the datasheet, but this gives me a 'Failed to set address' error.

[2013-09-29 12:12] #15 closed, assigned to nobody

[2013-10-24 08:12] seriousManual opened #16 "building on v0.11"
i made a testbuild on travis on node v0.11.3 which failed.

i did not investigate further, maybe that will be an issue when 0.12 is released.

[2013-11-25 06:54] judholliday opened #17 "Error installing - 'linux/types.h' file not found"
node-gyp is throwing an error during installation. Tried a few things like making sure node was up to date, etc, but to no avail. Any help would be appreciated.

[code]

[2013-11-25 07:28] #17 closed, assigned to nobody

[2013-12-24 18:38] #12 closed, assigned to nobody

[2013-12-25 09:34] ActionNerd opened #20 "Build error on 0.1.4"
When executing npm install as root, ran into the issue below.  Here is my package.json:

{
  "name": "hello-world",
  "description": "hello world test app",
  "version": "0.0.1",
  "private": true,
  "dependencies": {
    "express": "3.x",
    "ejs": "_",
    "pi-blaster.js": "_",
    "i2c": "*"
  }
}

gyp http GET http://nodejs.org/dist/v0.11.3/node-v0.11.3.tar.gz
gyp http 200 http://nodejs.org/d

[2014-02-10 23:52] mrose17 opened #21 "could you educate me?"
hi. i authored a module -- https://github.com/TheThingSystem/node-click-boards -- that uses your module in order to talk to the click boards.

i then used the driver in https://github.com/timbit123/ADXL345 as a template for writing drivers.

thus far i have the ADXL345 (no surprise) and the L3GD20 running, both individually, and together just fine, e.g.,

[code]

the one thing i have noticed is th

[2014-02-11 00:05] #21 closed, assigned to nobody

[2014-03-01 06:37] mrose17 opened #23 "new project for the README:"
https://github.com/TheThingSystem/node-click-boards

[2014-03-11 10:27] jvondrus opened #24 "Read / Write to Device at specific Register"
Hello,

i2c device are addressed by 2 number: by address, and by internal register. But how to set "register" at your module?

i2c tool for RPi looks like:
i2c_get -y D AA RR, where
D is device (0 / 1)
AA is device address
RR is register value
Result is 1 single Byte value.

i2c_set -y D AA RR BB, where
BB is value (byte) to set at device DD at register RR.

Thank you.

[2014-03-11 16:41] #24 closed, assigned to nobody

[2014-03-13 15:38] jvondrus opened #25 "Exited with code null"
Hello,
I have a problem with some non-handled  error from your i2c module.

My code works very well for many days when I'm using RPi i2c-tool command (i2cget, i2cset), but it has hight CPU load. I switched to your i2c node/coffee script before few days, it's works well and fast, but I'm getting error now.
That error has no notice, no warning... node just exit with code null. Error appear randomly,

[2014-03-23 20:23] bwarp opened #26 "MCP23017 - Cannot write bytes correctly. Help please!"
I am using a raspberryPi and nodeJS. I am trying to communicate to an MCP23017. I can manually init the chip, and turn a led on and off with i2cset below.
// configure Port A pins GPA0-6 as outputs and GPA7 as an input. (10000000 in binary and 0×80 in hex) :
// i2cset -y 1 0x20 0x00 0x80
// Then we set GPA0 to logic high which will enable the LED :
// i2cset -y 1 0x20 0x14 0x01

But in node I cann

[2014-03-27 17:58] #26 closed, assigned to nobody

[2014-03-30 15:13] jadonk opened #27 "i2cdetect and node-i2c scans returning different results"
It is unclear to me why i2cdetect and node-i2c would return different results, but this is what I'm seeing...

root@beaglebone:/var/lib/cloud9# i2cdetect -y -r 1
     0  1  2  3  4  5  6  7  8  9  a  b  c  d  e  f
00:          -- -- -- -- -- -- -- -- -- -- -- -- --
10: -- -- -- -- -- -- -- -- -- -- -- -- -- 1d -- --
20: -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
30: -- -- -- -- -- -- -- -- --

[2014-04-06 22:41] betz opened #28 "possible eventemitter memory leak detected."
Hey!

I would like to ask you if you could help me with my code.
I am trying for almost 4 hours now, and think I am slowly going insane. :)

The problem I got is that I get the 'possible eventemitter memory leak detected' error after I write 10 times to the i2c device.

I got this code:

[code]

Now, I call this code each time I want to write something.
I guess this is not ok, and I would need to

[2014-04-06 23:30] #28 closed, assigned to nobody

[2014-04-07 15:38] greengiant83 opened #29 "Streaming writes to slave causes write error"
If I stream writes from the master (Raspberry pi) to a slave (Arduino uno) I end up with a [Error: Cannot write to device] error on the master side if the delayBetweenPackets is to low. It doesnt seem to be consistent, but at around 50ms between packets I can normally get away with streaming data. At 10 ms between packets I can only get 11 packets sent before the error.

Is there a way to tell whe

[2014-04-07 18:53] seriousManual opened #30 "asynchronous interface of writeBytes is synchronous"
The asynchronous interface of `.writeBytes` suggests that the control flow is asynchronous but in fact blocks the thread.

This lead to some weird behaviour and some debugging work.

[2014-04-14 01:02] Joopmicroop opened #31 "Cannot find module '../build/Release/i2c'"
running on rpi & node v0.10.26

[code]

Seen your comment on https://github.com/kelly/node-i2c/issues/2
my install gives me the following

[code]

I looked in the folder and the files do exist (meaning the build/Release/i2c.node)

[2014-04-20 19:51] ghost opened #32 "Infinite loop in stream"
I call i2c::stream (https://github.com/kelly/node-i2c/blob/master/lib/i2c.coffee#L62). I expect it to be asynchronous, but it blocks thread. As I can see, it calls wire::readBlock with non-null delay (https://github.com/kelly/node-i2c/blob/master/src/i2c.cc#L121). So it enters while-loop and never exits. I tried, but I can't see any other thread start. What am I doing wrong? Have you ever realy te

[2014-05-29 07:59] GuySawyer opened #34 "readBytes function not working with LM75A"
Good day all

I am using the readBytes() function to read two bytes of an LM75A temperature sensor.
My code is as follows:

[code]

The address is correct, I am sure of that. My problem is with the Command variable.
I can't find out from the source code what that variable means, and to my knowledge, the LM75A doesn't require a command variable for reading.

The results I am getting from this code

[2014-05-29 16:46] #34 closed, assigned to nobody

[2014-05-29 16:46] #31 closed, assigned to nobody

[2014-07-14 13:43] nischelwitzer opened #36 "i2c Build Error rPI"
hi,

i tried to install (build) i2c to use it with piglow but
i get the erroros below.

i think I use all new versions:

root@colorrpi:~/node# npm -v
1.3.4
root@colorrpi:~/node# node-gyp -v
v0.13.1

and also the raspberry is quite uptodate!

Installation:

root@colorrpi:~/node# npm install i2c -g

make: Entering directory `/opt/node11/lib/node_modules/i2c/build'
  CXX(target) Release/obj.target/i2

[2014-07-27 00:41] #36 closed, assigned to nobody

[2014-08-07 22:00] Shwoobie opened #37 "The command parameter"
What is command parameter supposed to be in your write bytes function?

A simple example with maybe five bytes of characters or numbers would help.

[2014-08-08 20:09] rwaldron opened #38 "Intel Galileo Gen1/Gen 2 Support?"
If I arranged to have one of each shipped to you, would you be willing/interested in supporting these boards?

[2014-08-11 03:03] #37 closed, assigned to nobody

[2014-08-19 13:43] xygblarbin opened #39 "v0.1.4 install: `sh "-c" "node-gyp rebuild"` failed with 1"
Here is some output:

gyp http GET http://nodejs.org/dist/v0.8.22/node-v0.8.22.tar.gz
gyp http 200 http://nodejs.org/dist/v0.8.22/node-v0.8.22.tar.gz
Traceback (most recent call last):
  File "/usr/lib/node_modules/npm/node_modules/node-gyp/gyp/gyp", line 15, in <module>
    import gyp
  File "/usr/lib/node_modules/npm/node_modules/node-gyp/gyp/pylib/gyp/**init**.py", line 8, in <module>
    impor

[2014-08-19 17:29] #39 closed, assigned to nobody

[2014-08-30 20:13] lubino opened #40 "Error loading module"
I really don't understand why I got this error, can you tell me or fix that? I would fix that if somebody explains me why is this happening.

module.js:477
  process.dlopen(filename, module.exports);
          ^
Error: Module version mismatch, refusing to load.
    at Object..node (module.js:477:11)
    at Module.load (module.js:353:32)
    at Function._load (module.js:311:12)
    at Module.requir

[2014-08-31 18:43] #40 closed, assigned to nobody

[2014-11-11 22:40] dumpKopf2 opened #42 "opening 2 different I2C devices"
Greetings,

I have a Cape connected to a BBB board that has an RTC chip connected to I2C2 and an I/O expander that connects to I2C1. If I run the code for each separately in different javascript files things work well. When I combine the two codes together, the software crashes.
Here is a snippet of what I have:
var b = require("bonescript")
// RTC
var port = '/dev/i2c-2';
var address = 0x68;
var

[2014-11-14 03:04] mgold opened #43 "debug causes RangeError: toString() radix argument"
If one passes `debug: true` in the second argument of the i2c constructor, the program crashes with a very strange error.

[code]

To reproduce:

[code]

This bug has been reported on [this forum](http://www.raspberrypi.org/forums/viewtopic.php?f=44&t=53352).

[2014-11-14 03:08] #43 closed, assigned to nobody

[2014-11-22 21:59] fivdi opened #44 "All callbacks are fired synchronously rather than asynchronously"
Callbacks should be fired asynchronously but node-i2c fires them synchronously. The following (synthetic) program demonstrates this:

[code]

The program should read the Id from an [Adafruit TSL2561 Digital Luminosity/Lux/Light Sensor](http://www.adafruit.com/product/439) "forever", but after about 2 seconds the program terminates with the following error on a BeagleBone Black:

[code]

The issue

[2014-11-23 18:06] #32 closed, assigned to nobody

[2014-11-23 18:07] #30 closed, assigned to nobody

[2014-11-23 18:07] #44 closed, assigned to nobody

[2014-11-23 18:22] #23 closed, assigned to nobody

[2014-11-23 21:57] #38 closed, assigned to kelly

[2014-11-27 16:38] risacher opened #47 "Segfault"
I repeatably get a segfault that I think is in i2c, but it takes a few hours for it to happen.  During that time, the process size grows slowly, so maybe it's a memory leak issue?

I am using node 0.10.33 and adafruit-i2c-lcd on a raspberry pi B; with i2c module pulled from latest github.  The test program scrolls text across the lcd display, changing the text on a 100ms interval.

Unfortunately w

[2015-01-14 07:14] wakatanka opened #50 "readBytes method"
Hi, i'm trying to read temperature from a sensor (sht21) with a raspberry pi, here is my working code:

var i2c = require('i2c');
var address = 0x40;
var wire = new i2c(address, {device: '/dev/i2c-1',debug: false});

wire.scan(function(err, data) {
  // result contains an array of addresses
  if (err !== null) {
    console.log('error scan: ' + err);
  } else {
    console.log("scan data: "+data);

[2015-01-16 01:37] kelly commented on #50
I think you want to do wire.readBytes(0xF3, 3, function ....
The initial write that you're doing is the command byte. That's telling your device that you want to receive 3 bytes of data.

[2015-01-16 01:38] #50 closed

[2015-02-02 21:40] joraff opened #51 "Read or write raw bytes"
Is it possible to read or write raw bytes to a i2c device using this library?

I'm trying to interface with the [SL030 RFID module](http://www.stronglink-rfid.com/download/SL030-User-Manual.pdf), and it has an atypical command structure.

Instead of the usual sequence of ```slave address, ack, command register, ack, data(n)*ack, stop``` for a write, this module wants ```slave address, ack, length,

[2015-02-08 12:03] dsteinborn commented on #50
Hi @wakatanka I'm also using the sh21t sensor with a raspberry pi. Have a look at pull request #35 from @bbx10 which contains a fix to read bytes without sending the command/register parameter. This fix also works for sh21t sensor.

[2015-02-08 17:51] kelly commented on #51
Version 0.1.7 has this functionality. There is now a read and write method that doesn't require a command byte.

[2015-02-08 17:51] #51 closed

[2015-02-09 01:49] joraff commented on #51
:clap:

Thanks. I'll test it out. I can take care of a PR to update the docs. That's easy enough

[2015-02-10 21:06] bbx10 commented on #50
I closed pull request #35 because the same functionality is available using plain read. For example, wire.read(3, function...). My fork is obsolete since @kib357 added plain I2C read and write.

[2015-02-18 14:16] jurafa opened #53 "setImmediate is not defined"
Hi, I am trying to use i2c library to communicate between raspberry pi and unipi and when I try to include it (var i2c = require('i2c');) I receive this error. Any idea what goes wrong?
I am installing i2c using npm.

ReferenceError: setImmediate is not defined
    at Object.<anonymous> (/usr/share/adafruit/webide/repositories/my-pi-projects/rpi_unipi/node_modules/i2c/lib/i2c.coffee:12:10)
    at

[2015-02-18 15:44] joraff commented on #53
setImmediate was introduced in node v0.10. What version of node are you using? (Raspbian's repos contain a *really* old version, 0.6 I believe)

[2015-02-18 22:54] fivdi commented on #53
Does it work if the following line ([from here](https://github.com/kelly/node-i2c/blob/master/lib/i2c.coffee#L4)):
[code]
is changed to:
[code]

[2015-02-20 00:35] bishopmatthew opened #54 "Can't install on Raspberry Pi 2 Model B"
Any idea what's going wrong?

`npm install i2c`

contents of npm-debug.log

[code]

[2015-02-20 00:39] joraff commented on #54
Is this on raspbian? do you have the build-essential package installed?

[2015-02-20 00:57] bishopmatthew commented on #54
Yes, and yes.
`dpkg -s build-essential`
[code]

[2015-02-20 00:59] joraff commented on #54
Yeah, figured but wanted to check. I think the message is clearer if it's missing.

I'm using the same distro and kernel version, but with node v0.10.

On Thu, Feb 19, 2015 at 6:57 PM, Matthew Bishop <notifications@github.com>
wrote:

[2015-02-20 01:23] bishopmatthew commented on #54
Ok, downgrading worked. Thanks!

[2015-02-20 01:23] #54 closed

[2015-02-20 01:59] joraff commented on #54
Cool! Tho, an issue for v0.12 compatibility that someone can close via a PR isn't a bad idea to have around.

[2015-02-20 08:59] jurafa commented on #53
Thanks for help. The version of node on repository is 0.6.x. So I updated node and all works fine.

[2015-02-20 08:59] #53 closed

[2015-02-20 21:28] WouterDS commented on #36
I have the same issue and haven't found a fix yet.
Anyone managed to solve it?

[2015-02-20 21:33] kelly commented on #36
Did you follow the setup instructions? https://github.com/kelly/node-i2c#raspberry-pi-setup

Which version of node are you using?

[2015-02-20 21:47] WouterDS commented on #36
Yes, I have node 0.12.0 and npm 2.5.1 on the latest version of Raspbian.

When I run ```npm install i2c``` I get this as output:

	pi@raspberrypi3 /var/www/dslr-control$ npm install i2c --save
	npm WARN package.json DSLRCamControl@1.0.0 No description
	npm WARN package.json DSLRCamControl@1.0.0 No repository field.
	npm WARN package.json DSLRCamControl@1.0.0 No README data
	\

	child_process: cust

[2015-02-20 21:51] kelly commented on #36
0.12 is currently not supported. Try an earlier release.

[2015-02-20 21:52] WouterDS commented on #36
What version do you suggest?

[2015-02-20 22:08] WouterDS commented on #36
Works with v0.10.36, thanks!

[2015-02-22 19:38] abiertob opened #55 "Error installing on node 0.12.0"
Trying to install i2c on raspberry pi with latest raspbian (3.18 kernel) and nodejs version 0.12.0 results in the following error:

<....cut...>

i2c.target.mk:81: recipe for target 'Release/obj.target/i2c/src/i2c.o' failed
make: *** [Release/obj.target/i2c/src/i2c.o] Error 1
make: Leaving directory '/home/pi/i2c/node_modules/i2c/build'
gyp ERR! build error
gyp ERR! stack Error: `make` failed with

[2015-02-22 19:47] kelly commented on #55
Not compatible with the latest version of node.

[2015-02-22 19:47] #55 closed

[2015-03-02 18:30] emersion opened #56 "Building on Node 0.12"
[code]

[2015-03-02 19:47] kelly commented on #56
Not supported at this time.

[2015-03-02 19:47] emersion commented on #56
Can I make a pull request?

[2015-03-02 19:48] kelly commented on #56
Sure, as long as it looks good, i'll merge it in.

[2015-03-03 04:28] #56 closed

[2015-03-03 04:40] kelly commented on #55
0.12 is now supported in the current release thanks to @emersion

[2015-03-03 04:40] kelly commented on #54
0.12 is now supported in the current release thanks to @emersion

[2015-03-04 07:21] abiertob commented on #55
Thanks for letting me know!

[2015-03-04 15:21] tvalletta opened #58 "Does not register CoffeeScript"
/home/pi/noderocket/mpu-6050/node_modules/i2c/node_modules/coffee-script/lib/coffee-script/coffee-script.js:210
          throw new Error("Use CoffeeScript.register() or require the coffee-s
                ^
Error: Use CoffeeScript.register() or require the coffee-script/register module to require .coffee.md files.
  at Object.base.(anonymous function) [as .coffee] (/home/pi/noderocket/mpu-6050/n

[2015-03-04 17:03] kelly commented on #58
Should be fixed now in the latest version.

[2015-03-04 17:03] #58 closed

[2015-03-12 17:22] joraff opened #59 "Kernel ioctl concurrency control"
I apologize: this is more of a question than an issue.

What are others doing to avoid I/O errors from simultaneous access to a linux i2c device file? I am thinking of creating a module that implements a job queue for i2c actions on a single device (`/dev/i2c-1`) using this module and something like https://github.com/caolan/async `queue`.

Is anyone else already doing this?

[2015-05-05 20:11] abenedykt commented on #34
i've digged through the same problem and ended up with:

[code]

and it works just fine,

[2015-06-01 16:20] gfduszynski opened #60 "Require slow due to coffee (v0.1.8)"
I'm using CORE9G25@400MHz module with node-i2c.
Require call to node-i2c (v0.1.8) takes about ~4100ms,
out of which nested require to coffee-script takes about ~1900ms and compiling also about 2s.

Switching to JS would provide massive reduction in startup time.

[2015-06-01 16:34] kelly commented on #60
It's a single coffeescript file, so just run `coffee -c i2c.coffee`

[2015-06-01 16:34] #60 closed

[2015-06-01 16:42] gfduszynski commented on #60
This solution still leaves the dependency to 'coffee-script'.
Plus it's a thing that no one would like to have in a build job :smile:

[2015-06-01 16:51] kelly commented on #60
You can fork it too. Most people using this module aren't running it on a 400MHZ cpu. If that changes, I'll look into modifying the code.

[2015-06-09 13:29] gfduszynski commented on #60
Sure, most people aren't using this on their i7 either.
Anyway, node-i2c is a great lib, I'm just trying to get best possible startup time from this tiny CPU.
For now I've switched to i2c-bus. It's not so convenient but it works and loads under ~180ms.

[2015-07-09 13:38] T-Lan opened #61 "installing error"
I am using node version 0.10.28 and npm version 1.4.9
when installing the i2c using npm install i2c@0.1.8 it was saying the cb() never called...

as i am quite new to using node ..can anyone please explain to me what i should do ?

[2015-07-09 13:55] #61 closed

[2015-07-17 19:04] mikealbinson opened #62 "Edison occasionally fails to write over the i2c-6 bus"
I have had some issues when I boot up my intel edison after shutdown. For a period of time the error callback for i2c.writeBytes will return "unable to write" in regard to the i2c-6 bus with no other indication of what needs to be fixed. However, after this period of time the error will disappear and the i2c bus will work normally. Not sure if you've encountered this before/even intended this for

[2015-07-24 04:50] steowens opened #63 "i2c simply doesn't work"
So I have a simple class which emits a byte array to an i2c address.  When I run the node script it fails to interface with the device.  However when I run the same commands using i2cset on the command line, the setup works.  It is as though the i2c library is doing nothing at all.

[2015-07-24 05:52] kelly commented on #63
What code are you using? Which version of node are you using? Which embedded system do you have?

[2015-07-24 05:53] kelly commented on #62
I'm not entirely sure what is happening here. Unfortunately the Edison isn't currently supported since I don't have access to a device.

[2015-07-25 06:47] #63 closed

[2015-07-28 20:26] mikealbinson commented on #62
Bummer, in the meantime, if anyone is experiencing the same issue I would recommend the node library mraa for the Intel Edison. It took a little work to switch over, but my code now runs consistently without the above issue.

[2015-08-02 23:29] amejias101 commented on #7
is there an update to this?

[2015-08-13 10:44] RaananW opened #64 "Problem compiling on Pi 2"
Hi,
I am trying to build node i2c on the pi 2 with no success.
I am using 0.10.28 but have tried different target for node-gyp (including 0.8.0 and 0.10.4) but couldn't get it to compile. The same thing happens when I download the latest master and compile using node-gyp standalone.
This is the error message: (full message here - http://pastebin.com/8Y2WUdB1)

gyp ERR! build error
gyp ERR! stack E

[2015-08-13 17:36] kelly commented on #64
If you're using node 0.11 or under you need to use i2c version 0.1.8.

[2015-08-13 17:37] #64 closed

[2015-08-21 21:51] stormbytes opened #66 "Install fails on BBB w/Debian"
→ npm install i2c
-

make: Entering directory `/home/storm/node_modules/i2c/build'
  CXX(target) Release/obj.target/i2c/src/i2c.o
../src/i2c.cc: In function ‘void setAddress(int8_t)’:
../src/i2c.cc:22:14: error: ‘class v8::Isolate’ has no member named ‘ThrowException’
../src/i2c.cc:23:28: error: ‘NewFromUtf8’ is not a member of ‘v8::String’
../src/i2c.cc: At global scope:
../src/i2c.cc:29:23: erro

[2015-08-21 22:06] kelly commented on #66
https://github.com/kelly/node-i2c#node-011-and-under

[2015-08-21 22:06] #66 closed

[2015-08-21 22:56] stormbytes commented on #66
Thanks!

My bad!

[2015-08-28 08:22] pradhanshrijal opened #67 "node-gyp configure error: gyp_main.py"
When I try to install the i2c module it says node-gyp rebuild error. After i tried to use: node-gyp configure, and this error occured:

![node-gyp-err](https://cloud.githubusercontent.com/assets/11836341/9542158/8dbe46e6-4d98-11e5-9be0-c9c5da19016d.JPG)

[2015-08-28 09:24] pradhanshrijal opened #68 "i2c module failed to install BeagleBoneBlack"
#npm install -g i2c

Error:

![i2c-err](https://cloud.githubusercontent.com/assets/11836341/9543219/4a75450c-4da1-11e5-8946-f1c91f848abe.JPG)

[2015-08-28 09:26] pradhanshrijal commented on #68
It seems the common.gypi file is missing....and
#npm rebuild
fails

[2015-08-28 14:30] kelly commented on #68
something is wrong with your node-gyp. This isn't a problem with i2c.

[2015-08-28 14:30] #68 closed

[2015-08-28 14:30] #67 closed

[2015-09-08 17:57] arskb4ga commented on #47
Did this SEGV ever get resolved?

[2015-09-08 18:36] risacher commented on #47
I don't think so.  I haven't tested it lately - that project went on indefinite hold.  I'll try it tonight.

[2015-09-10 13:33] risacher commented on #47
I upgraded to node 0.12.6; ran npm update, which pulled in i2c v0.2.1.  I then ran my test program and let it run all night - no segfault.  I forgot to check for process growth.  I'm running the test again, but I think the problem is resolved.  If it hasn't crashed by tonight, I'll close the issue.

[2015-09-10 14:27] arskb4ga commented on #47
Thanks for your work testing this! I am running Node 10.38 on a PI-2, I have not been able to get the PI to load version Node 12.  What platform are you running?  I tested with another i2c program and it ran OK, but I used readByte and not readyBytes (block), I would assume it would fail if I used the block mode also until upgrade node, based on my reading.

[2015-09-10 14:36] risacher commented on #47
My pi's (I think I have 3) are RPi 1 Model B.  I installed node 0.12.6 via instructions at http://weworkweplay.com/play/raspberry-pi-nodejs/ - basically a installed a package built by heroku.

[2015-09-10 14:40] arskb4ga commented on #47
Thanks, I will take a look at this, it will save me a lot of time if it works.

[2015-09-10 18:50] arskb4ga commented on #47
I have been testing for a while with node 0.12.6 and it seems to be working fine.  I don't notice the memory leak that were there with 0.10.38. Strange it was intermittent when it came to how long the process ran before the segfault.

[2015-09-10 19:16] risacher commented on #47
No crash; no leak.  Closing.

[2015-09-10 19:16] #47 closed

[2015-09-14 23:27] JohnNavratil opened #69 "Possible compatibility problem with node 4.0? Can't build on Raspberry Pi - Debian Jessie"
node -v ==> v4.0.0
node-gyp -v ==> v3.0.2
uname -a ==> Linux rpi0 4.1.6+ #810 PREEMPT Tue Aug 18 15:19:58 BST 2015 armv6l GNU/Linux

Many C++ compile errors.  I'll be happy to generate a clean npm debug log if someone can tell me how to attach it.
--------------------------------------------------------------------------

root@rpi0: /home/jnavratil/pmon$ npm -g install i2c
|

make: Entering direct

[2015-09-30 16:47] pkese commented on #69
+1

[2015-10-02 21:17] cricri0464 commented on #69
Same issue here ...

[2015-10-03 08:19] saraf commented on #69
+1

[2015-10-07 00:08] mitulsuthar commented on #69
I have the same issue of it not compiling on a BeagleBone with Debian and Node v4.0.0.0 .

[2015-10-08 02:30] pseudobeer commented on #69
Exactly the same issue here.

(as a dependency of cylon-raspi)

[2015-10-08 03:31] kelly commented on #69
node 4.0 requires a major re-write of native v8 modules. I likely won't be able to get to this for sometime. If someone wants to tackle it and send me a pull request, i'll merge it, and submit a release.

[2015-10-08 13:32] JohnNavratil commented on #69
Kelly,

Thanks for the heads up.  In theory I could do this (I've been a C programmer for years, I'm not a C++ maven), but my complete unfamiliarity with the code base makes my success unlikely.

I'm just building a Raspian system and am not married to Node 4.0.  Do you have a clue to which node version is compatible with i2c?  If not, I'll report back with my results as I try to find one.

[2015-10-08 14:39] joraff commented on #69
In the mean time, I'm using [i2c-bus](https://github.com/fivdi/i2c-bus) with node v4

[2015-10-12 21:58] Masterbonnie commented on #69
The Node version that was compatible with i2c is Node 0.10     Stable Version

[2015-10-12 22:02] kelly commented on #69
That is incorrect, it should work for v0.12.7 and everything before. So everything prior to the 4.0 release.

[2015-10-12 22:13] Masterbonnie commented on #69
Oh thanks :D did you how to fix this problem?
I2c is no working and I need to install cylon-raspy.

[2015-10-12 22:16] kelly commented on #69
For now just use nvm to install node 0.12.7 and you should be able to use cylon-raspi with i2c.

[2015-10-15 07:45] steowens commented on #63
I was using the code in this repo on a bealebone.  We ended up having to invoke I2c commands via the shell. to get things to work.

[2015-10-26 18:45] anvanza commented on #69
This pull request is working: https://github.com/kelly/node-i2c/pull/70/commits
You can implement it immediately using the following snippet in your packages.json.
"i2c": "https://github.com/polaris/node-i2c"

[2015-11-14 18:27] Kepro commented on #69
+1 need this :)

[2015-12-02 21:18] chintanp opened #71 "Sensor data doesn't update after set time"
I am using a TI gas-gauge which is a battery sensor, as in, it reports battery voltage, current, temp etc. The sensor works fine, as I have a working C code. Trying to port it to nodejs. An initial run with node-i2c gives me the results I am hoping for. Although, I haven't been able to update the results continuously.
I even tried modifying the accel.coffee example for my sensor, which now looks l

[2015-12-02 23:05] #71 closed

[2015-12-02 23:27] chintanp commented on #71
Closed without a comment ? Hey, some love would go a long way.

[2015-12-02 23:30] kelly commented on #71
Project issues aren't for debugging you code. Please use stackoverflow or other services for code help.

[2015-12-17 08:20] jamms commented on #69
Anvanza, I don't suppose there is a way you can show me how to do this, or point me in the direction of some generic instructions. Am still quite new to this!

TIA

[2015-12-18 08:38] jamms commented on #69
Anvanza, never mind, I didn't take your comment literally enough. Works great for lots of my sensors, Thanks for the heads-up!

[2015-12-30 14:17] bchr02 commented on #16
@kelly when do you think this will be complete? We still can't install cylon-i2c on any version of Node greater than 0.10.x .

[2015-12-30 14:56] bchr02 commented on #16
Looks like https://github.com/kelly/node-i2c/issues/69 is a duplicate of this issue.

[2016-01-01 19:22] kelly commented on #16
@bchr02 the current i2c version works on 0.12.9 and under.

[2016-01-01 19:22] #16 closed

[2016-01-02 03:06] bchr02 commented on #16
Thanks but when will it work with 0.4.x and 0.5.x?

[2016-01-02 03:17] kelly commented on #16
@bchr02 since it requires a full re-write of the c++ code, it's not an immediately a priority for me. If anyone wants to take a shot at it, submit a pull request using NAN and i'll merge it in.

[2016-01-16 21:40] jnovack commented on #69
If your application has a module which has `node-i2c` as a subpackage, rather than modify the module, just install the workaround version globally.

`npm install -g https://github.com/jnovack/node-i2c/archive/master.zip`

When you `npm install` your application, the module will see you already have it and use the local "fixed" copy.

[2016-01-19 20:52] JohnNavratil commented on #69
jnovack,

I reviewed yours and anvanza's files and it seems yours is trying to be a more universal solutions.  So I tried it, and received....

npm install -g https://github.com/jnovack/node-i2c/archive/master.zip
npm ERR! not a package /tmp/npm-19977-c99c1b5a/github.com/jnovack/node-i2c/archive/master.zip
npm ERR! Linux 4.1.13+
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "-

[2016-01-19 22:12] JohnNavratil commented on #69
jnovack,

Flying completely by the seat of my pants, and as root (shivver!), I...

 wget "https://github.com/jnovack/node-i2c/archive/master.zip"
 unzip master.zip
 cd node-i2c-master/
 npm -g install .

Things seemed to work.  I've not done any testing yet.  Thoughts?

[2016-01-21 02:14] jnovack commented on #69
Sorry, I tried to make it easy, but stupid npm doesn't see it as a package.

New instructions:

    git clone https://github.com/jnovack/node-i2c/
    cd node-i2c/
    npm install -g .

[You can see the changes I've made here.](https://github.com/kelly/node-i2c/compare/master...jnovack:master) All I've done is isolate node version v4 code as a quick and dirty work-around and set the version to be

[2016-01-23 17:46] nkolban commented on #69
+1 on this being a problem for my projects

[2016-02-03 11:16] jurafa commented on #69
+1

[2016-02-03 11:17] Kepro commented on #69
+1

[2016-02-09 02:07] AndrewDugenske opened #73 "Install Problems on Wheezy 7.9"
It looks like the library is not playing well with Debian Wheezy version 7.9.
When I ran npm install i2c, I received the following at the end of the install:

gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/share/node-gyp/lib/build.js:267:23)
gyp ERR! stack     at ChildProcess.emit (events.js:98:17)
gyp ERR! stack     at Pr

[2016-03-01 03:52] shekit opened #74 "Cannot find module '../build/Release/i2c'"
Hi,

I am able to install the package but I keep getting an error stating `Cannot find module '../build/Release/i2c'` .I checked the package and this folder does not exist. I'm trying this on a Raspberry pi 2b running Jessie. Is this a bug or is there some kind of workaround?

[2016-03-09 03:59] kawashimaken commented on #69
I need to install i2c which is used as a submodule of cylon-raspi. I encountered the same issue, I am using node.js 4.X stable.
I know that the Node version that was compatible with i2c is Node 0.12.x Stable version as mentioned above, however I want  to use the latest stable node.js to run my MEAN stack web application, from where I can hook up my raspberry and do some automation thing from my we

[2016-03-09 21:53] alexellis commented on #69
@kawashimaken This thread has been running for months, you'd be better off forking the cylon-raspi repo and altering it to use a different i2c library. I remember being pointed in the direction of one when I came here with the same issue. I'll look up the name for you.

[2016-03-10 01:34] kawashimaken commented on #69
@alexellis Thank you for your info and your advice! I will definitely check out your repo! I hope I can make a smooth swap to i2c-bus.

[2016-04-13 12:10] goog opened #75 "npm install i2c failed"
[code]

[2016-04-13 12:27] goog commented on #75
[npm-debug.txt](https://github.com/kelly/node-i2c/files/217068/npm-debug.txt)

[2016-04-18 20:28] phixMe commented on #7
I am having similar issues.
I get a memory leak if I try this:

var device1 = new i2c(0x70, {device: '/dev/i2c-1', debug: false});
var device2 = new i2c(0x70, {device: '/dev/i2c-6', debug: false});

Has anybody had trouble with this?

[2016-04-29 21:50] infusion commented on #75
I have the same problem on node v4.2.1 and npm  v2.14.7.

[2016-05-01 05:22] fafamendes92 commented on #75
+1

[2016-05-09 13:36] shtaif commented on #75
+1

[2016-05-10 23:30] fafamendes92 commented on #73
The same happens in version 8.3

[2016-05-11 15:37] kaned commented on #75
+1

[2016-05-15 09:43] doorbash commented on #75
+1

[2016-05-17 18:53] methyl commented on #75
+1

[2016-05-18 05:05] ahildoer commented on #75
+1

[2016-05-18 18:49] phixMe commented on #7
I am still having a show stopping bug related to this.

Here is my error:
ERROR: (node) warning: possible EventEmitter memory leak detected. 11 listeners added. Use emitter.setMaxListeners() to increase limit.
ERROR: Trace
    at process.addListener (events.js:160:15)
    at process.on.process.addListener (node.js:802:26)
    at new i2c (/home/root/.node_app_slot/node_modules/node-BNO055/node_modu

[2016-05-29 01:08] shuangjj commented on #75
+1

[2016-05-31 01:14] Andrewiski opened #76 "constructor callback for wrapped Open in constructor to get err and make async"
given the code block below from your source there is no way to pass in a callback to get the Err on the constructor either via options or third param of Callbak

`constructor: (@address, @options = {}) ->
    _.defaults @options,
      debug: false
      device: "/dev/i2c-1"

    if @options.debug
      require('repl').start(
        prompt: "i2c > "
      ).context.wire = @
      process.stdin.em

[2016-06-03 22:46] Fips11 commented on #75
+1

[2016-06-03 23:47] doorbash commented on #75
I ran to same problem and then I gave [rasp2c](https://github.com/ni-c/node-rasp2c) a try.
worked very well.

[2016-06-04 00:32] infusion commented on #75
Thanks @doorbash, but I don't like, that it forks a new process for every setting using the cli tools. A real alternative could be [i2c-bus](https://github.com/fivdi/i2c-bus) . However, I implemented the crucial parts in C now and passing the results back to node later.

[2016-06-06 00:10] alphacharlie commented on #75
For anyone having this issue on the Raspberry Pi. It's an incompatibility between the I2C package and newer versions of Node.js. As a workaround you can install Node.js version 0.12.6 (which still works with the library) from here - http://node-arm.herokuapp.com/node_archive_armhf.deb

If the author doesn't fix this soon I'll fork it and get it running for Node >= 4.x as this  package is starting

[2016-06-07 10:15] leemind commented on #75
@alphacharlie -- Please do!!!

[2016-06-10 13:52] CaptainMack commented on #75
@alphacharlie Oh Charlie, please do :-)

[2016-06-10 17:58] chris03 commented on #75
A fix would be appreciated, there's quite a few projects that depend on _i2c_ and are now broken.

[2016-06-12 07:09] alphacharlie commented on #75
I forked the code off and updated it to use 'nan' for buffer creation. Will someone please try this and let me know how it works for them?  [node-i2c](https://github.com/alphacharlie/node-i2c)

(Otherwise I'll have to put some hardware together to test it myself. Probably take a few days for me to get to it...)

[2016-06-12 10:36] CaptainMack commented on #75
@alphacharlie

I have a setup laying in the office, I'll test it tomorrow and report back

[2016-06-12 12:26] Maus34 commented on #75
I installed node 4.4.5 and then the newest version of node-i2c on a Rasperry 1 B and it failed.
see:
[npm-debug.txt](https://github.com/kelly/node-i2c/files/310755/npm-debug.txt)

[2016-06-12 15:29] alphacharlie commented on #75
@Maus34 - how _exactly_ did you try to install it? (you would have to download it from the link above not from npm...)
Try -
'sudo apt-get update'
'sudo apt-get upgrade'
`mkdir tmp`
'cd tmp'
'git clone https://github.com/alphacharlie/node-i2c'
'npm install ./node-i2c'

I don'e have a raspberry pi 1b to test with. But the above compiles and installs successfully for me on both Node 4.x and Node 6.x

[2016-06-12 15:57] Maus34 commented on #75
@alphacharlie
I tried it again with exactly the commands above ( new download to tmp, whitch I dont used before)
see the last messages from the terminal
[mess.txt](https://github.com/kelly/node-i2c/files/310833/mess.txt)
and the log file
[npm-debug.txt](https://github.com/kelly/node-i2c/files/310835/npm-debug.txt)
Maybe its a probem of rights

[2016-06-12 16:12] alphacharlie commented on #75
@Maus34  - Hmmm not sure what is going on... From your debug file it is trying to install it into **~/tmp/node_modules/i2c** and _failing_.  But from the commands I gave, it should just build in place in **~/tmp/node-i2c**

[2016-06-12 17:20] alphacharlie commented on #73
node 0.10 needs a lower version of i2c

Do -
`npm install i2c@0.1.8`

[2016-06-13 17:25] Maus34 commented on #75
@ Alphacharlie
seems the c++11 compiler was not foud
[typescript.txt](https://github.com/kelly/node-i2c/files/312360/typescript.txt)

[2016-06-13 17:30] alphacharlie commented on #75
@Maus34 - You might do -
`sudo apt-get install build-essential`
and try again.

Also, The code at [https://github.com/alphacharlie/node-i2c](https://github.com/alphacharlie/node-i2c) has been updated. (I finished the conversion to the Nan.)  So anyone testing the fix will  want to re-download it.

If it works for everybody I'll do a pull request and see if @kelly will merge it.

[2016-06-13 17:45] Maus34 commented on #75
@alphacharlie
I checked with gcc --version: 4.6.3
updated it to 4.8 (for C++11), google: "raspberry c++11"
gcc --version 4.8
then it worked

[2016-06-13 17:54] alphacharlie commented on #75
Huzzah!

If you get a chance to test it, please post back with any results... :-)

[2016-06-13 19:56] alphacharlie commented on #75
**Hello All**

**Good News - Just got done testing this package on actual I2c hardware (ADS1015 ADC) and it worked for me _without errors_!**

Looking for more developers to confirm that it also works for them. To test you can replace the dependency in the applicable Package.json file. So this:

[code]
becomes this:
[code]

then rebuild the your node app.

_**Note - if you are an end user trying t

[2016-06-13 20:03] kelly commented on #75
@alphacharlie awesome! Thanks for putting this together and making the switch to Nan. Send me a PR when you have a chance. I'll look everything over and get it merged in.

[2016-06-14 19:33] Maus34 commented on #75
@alphacharlie
I start my application with `node app.js` for my node module node-HDC1000 and got the error
 `Cannot find module 'i2c'`

[2016-06-14 19:56] alphacharlie commented on #75
@Maus34 - Can you post your package.json?

[2016-06-15 16:43] #75 closed

[2016-06-15 16:43] #69 closed

[2016-06-15 16:50] #74 closed

[2016-06-15 19:18] Maus34 opened #78 "Install problems"
I installed the latest version with
`npm install i2c`
Compiling worked well with gcc 4.8 and I got the folder /home/pi/node-i2c
But in node I do not have the module i2c: I checked with `npm -g ls` and I have no entry in npm\package.json.

[2016-06-15 19:25] kelly commented on #78
Did you install i2c globally?

[code]

[2016-06-16 17:17] Maus34 commented on #78
I did `sudo npm install i2c -g`
and got the folder /usr/local/lib/node_modules/i2c
in  node: > `var i2c = require('i2c');`
gives me `Error: Cannot find module i2c`
I checked again with npm -g ls and in npm\package.json.
Manually:
`var i2c = require('/usr/local/lib/node_modules/i2c');`
gives me `undefined
`
The owner of /usr/local/lib/node_modules/i2c was nobody
I changed it to root and then to pi,

[2016-06-18 04:38] Maus34 commented on #78
works now. I used the wrong folder

[2016-06-18 04:38] #78 closed

[2016-06-20 22:56] psiphi75 opened #79 "i2c v0.2.3 fails to install on BeagleBone running Node v0.12.13"
My system details are:
OS: Debian 8.5, Linux 4.1.18-ti-r56
Processor/Arch: ARM
Node version: 0.12.13
i2c version: 0.2.3 (0.2.1 and earlier versions work fine)

When I run `npm install i2c` I get the following error:
[code]

[2016-07-22 21:40] phixMe commented on #79
I am seeing similar issues with 12.2. Anybody out there resolve this?

[2016-07-22 21:44] kelly commented on #79
Just use 0.2.1 or earlier.

[2016-07-22 21:55] phixMe commented on #79
That worked great for me. I'm on the Edison platform. Thanks!!!

[2016-09-10 00:18] thelonious opened #80 "Unable to install on Raspberry Pi 3 running Raspbian Jessie"
It looks like I'm running node v0.10.29 and npm 1.4.21. When I run `sudo npm install i2c` I get the following:

[code]

Thanks for any suggestions on how to get around this.

[2016-09-10 03:21] thelonious commented on #80
I got a little closer. I set a password on root and was able to `su root` and the build/install got further. I had to install coffee-script and nan, but now it's failing on a symlink step with coffeescript

[code]

[2016-09-10 21:03] thelonious commented on #80
I tried a clean install of Raspian. I have the same versions of node and npm. Here's the failure I see now:

[code]

[2016-10-08 07:12] nielsnl68 commented on #80
As the readme says, this version does not support the node.js version you use. Upgrade node.js to 4.6 or use the 0.18 version of i2c.

[2016-10-08 14:12] thelonious commented on #80
Ah, yes. I didn't read down that far. It's too bad the default experience on Raspian isn't nicer for node. I've switched over to Python for now. Thanks!

[2016-10-08 14:12] #80 closed

[2016-10-08 14:35] nielsnl68 commented on #80
Why not upgrading nodejs to 4.6 or above?

Op 8 okt. 2016 16:12 schreef "Kevin Lindsey" <notifications@github.com>:

[2016-10-10 21:25] thelonious commented on #80
I ran out of time with that project and needed a solution right then. I may give node a try next time around. FWIW, I have 'n' running now, so it's easy switch versions. I was able to build i2c with 5.12.0 and 6.6.0 just fine on the Pi 3.

[2016-10-15 23:35] kelly commented on #79
the latest version depends on new versions of node (4.0 and later).

[2016-10-15 23:35] #79 closed

[2016-11-06 00:26] kelly commented on #16
@EMCP this is closed, so your issues aren't related to this bug.

[2016-11-06 00:30] EMCP commented on #16
I'm just trying to get the status of this project running on versions beyond `.12`

[2016-11-06 00:31] EMCP commented on #16
strangely, the project that used this library was on an older version `0.1.1` .. after upgrading the errors have dropped away on my platform.

[2017-01-17 23:50] capo349 opened #82 "MEmory EEprom"
Hi, I would like to know how a library for a meme 24lc512 eeprom could do using the i2c module

[2017-01-21 21:18] #82 closed

[2017-01-26 13:02] chuber70 commented on #73
I cannot install the i2c node.  I have attached the debug file.  I did try what you suggested above and it seemed to install but there were no i2c nodes in node red.  The debug file was generated using the "npm install --unsafe-perm node-red-contrib-i2c" from the node red directory.

[npm-debug.txt](https://github.com/kelly/node-i2c/files/732304/npm-debug.txt)

[2017-04-02 09:12] liborp opened #83 "node-red-contrib-bmp085"
During the install o node-red-contrib-bmp085 module I had a strange error. Have you any advice where the problem is?
Thank you in advance.
LP.

2 Apr 10:08:53 - [info] Installing module: node-red-contrib-bmp085
2 Apr 10:09:37 - [warn] Installation of module node-red-contrib-bmp085 failed:
2 Apr 10:09:37 - [warn] ------------------------------------------
2 Apr 10:09:37 - [warn] Error: Command fail

[2017-04-04 17:21] kelly commented on #83
This package is most likely depending on an older version of i2c that isn't compatible with the newer node version.

[2017-04-04 17:21] #83 closed

[2017-04-04 19:03] liborp commented on #83
Thank you Kelly for the information.

All the best

Libor

From: Kelly [mailto:notifications@github.com]
Sent: Tuesday, April 04, 2017 7:22 PM
To: kelly/node-i2c
Cc: liborp; Author
Subject: Re: [kelly/node-i2c] node-red-contrib-bmp085 (#83)

This package is most likely depending on an older version of i2c that isn't compatible with the newer node version.

—
You are receiving this because you auth

[2017-04-04 19:04] kelly commented on #83
If you fork the package, you likely can update i2c to a newer version and it should work correctly.

[2017-04-07 20:03] billtrudell opened #84 "npm install i2c fails on BeagleBone"
An install of i2c on a Beaglebone Green, with relatively new/updated Nodejs and NPM, is failing?  Any clues?

verbose stack Error: i2c@0.2.3 install: `node-gyp rebuild`
verbose stack spawn ENOENT
verbose stack     at ChildProcess.<anonymous> (/root/nodejs/lib/node_modules/npm/lib/utils/spawn.js:33:16)
verbose stack     at emitTwo (events.js:106:13)
verbose stack     at ChildProcess.emit (events.js

[2017-04-19 16:21] AuspeXeu opened #85 "Library prevents PI from rebooting"
It seems like this code in line 21 of the lib file
`process.on 'exit', => @close()`
prevents my raspberry pi from rebooting if I am reading from a wire simultaneously. After removing this line it works flawlessly. Any suggestions on how to fix this?

[2017-05-02 20:36] billtrudell commented on #54
This seem v7.8.0s like a house of cards, I'm trying to use the latest tools, node 7.8.0; but I'd have to go back version 0.12 to install a package that essentially doesn't seem to be supported.  I understand that if I want it, I could upgrade, but the whole idea of using open-source shared components is that if they are published, they should work.  I've wasted many hours with install errors and d

[2017-05-02 20:45] kelly commented on #54
@billtrudell dependency management is one of the hardest problems to solve, but it's not really related to this module or this thread.

[2017-05-04 15:07] nemr opened #86 "How can I write a command to a specific memory register ?"
Hello ,

How can I write a command to a specific memory register using this NPM ?

[2017-05-04 15:50] kelly commented on #86
[code]
or
[code]

[2017-05-04 15:50] #86 closed

[2017-05-05 07:55] nemr commented on #86
Thanks :)

[2017-05-17 10:39] dedhdude opened #87 "Unable to install in orange pi zero"
root@orangepizero:~# sudo npm install i2c-bus
npm ERR! Linux 3.4.113-sun8i
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "i2c-bus"
npm ERR! node v6.10.3
npm ERR! npm  v3.10.10
npm ERR! file /root/.npm/bindings/1.2.1/package/package.json
npm ERR! code EJSONPARSE

npm ERR! Failed to parse json
npm ERR! Unexpected end of input at 49:59
npm ERR!     "url": "https://github.com/TooTallNate/no

[2017-05-17 15:38] kelly commented on #87
wrong module

[2017-05-17 15:38] #87 closed

[2017-05-17 15:55] dedhdude commented on #87
That I know but how to solve the problem.
How should I rebuild....?

Sent from my iPhone

[2017-08-12 07:50] runhwguo commented on #39
need to install gcc and gcc-c++

[2017-09-11 19:47] joeboyscout04 commented on #84
I'm getting similar errors with "npm install i2c" on both my mac and raspberry pi:

`npm ERR! i2c@0.2.3 install: `node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the i2c@0.2.3 install script.
npm ERR! This is most likely a problem with the i2c package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!     node-gyp rebuild
npm ERR!

[2018-06-10 12:40] thorleifjaocbsen opened #90 "Not working with NodeJS v10.4.0"
[code]

[2018-07-20 12:36] OGVCelsius commented on #84
Did you solve the problem? Because I have the same happening right now. My node version is 8.11.2 and my     "body-parser": "^1.18.3",
    "express": "^4.16.3",
    "mongodb": "^3.1.1",
    "mqtt": "^2.18.3",
    "npm": "^6.2.0",
    "server": "^1.0.18"

[2018-08-08 13:05] rzr commented on #90
As (wrongly) reported elsewhere:
https://github.com/fivdi/i2c-bus/issues/52

I confirm i2c module failed in node:latest (10) docker image while it's ok on node:9.

[2018-08-21 14:04] rzr commented on #90
Latest known working version is v9.11.2 (v10.0.0 and v10.9.0 failed using nvm)

Is anyone active on this issue ?
or do you know other i2c implementations working for node10 ?

[2018-09-06 19:33] stheine commented on #90
I have been switching to https://www.npmjs.com/package/rpio . this is working with i2c on node 10.

[2018-09-23 15:57] matteliot commented on #90
Node 9.11.2 works for me- 10.x hasn't worked at all for it. Latest NPM, etc, npm rebuild i2c, nothing worked.

[2018-10-15 17:38] rzr opened #91 "Licence issue"
I noticed there is GPL code in a BSD licensed project,

https://github.com/kelly/node-i2c/blob/master/src/i2c-dev.c#L8

I came to this using FOSSA  in mastodon-lite:
https://github.com/rzr/mastodon-lite

Click on "licence" button.

would it make sense to ask i2c-dev.c to multi licence the code ?

[2018-11-09 17:04] rzr commented on #90
Full log of failure at:
https://travis-ci.org/rzr/generic-sensors-lite/jobs/452971481

Is anyone working on this ?

[2018-11-21 22:56] rzr commented on #91
Feedback welcome on this

If no update is planned (see open PR)

I'll consider to use:
https://github.com/fivdi/i2c-bus

[2018-11-23 14:08] rzr commented on #90
It looks like this package is more active than i2c:

* https://www.npmjs.com/package/i2c-bus
* https://www.npmjs.com/package/i2c

Is there a way to make "i2c" be cooperatively maintained  ? @kelly ?

[2018-11-23 15:56] matteliot commented on #90
I swapped to i2c-bus it wasn't too big an issue.

[2018-11-23 16:02] rzr commented on #90
Do you think both could merge to make a smooth transition ?

[2018-11-23 16:05] matteliot commented on #90
doubt it, it'd be better to select one and do into the future with it, I think

[2018-11-23 16:05] kelly commented on #90
Feel free to submit a PR to fix issues. I'm on vacation right now, an will
look over this thread when I return.

On Fri, Nov 23, 2018 at 8:02 AM Philippe Coval <notifications@github.com>
wrote:

[2018-12-20 18:03] rzr commented on #90
Is anyone interested into co maintenance in this team :

https://www.npmjs.com/org/abandonware

[2019-01-11 01:12] mzwtjp opened #93 "Segmentation fault in readByte"
https://github.com/beagleboard/bonescript/issues/56

[2019-01-29 16:02] Silvia-t commented on #90
Also having trouble here on a RPi with Raspbian Stretch 9, NodeJS v10.15.0 and npm 6.4.1..

[code]

Log:

[code]

Thanks :)

[2019-01-30 09:18] Silvia-t commented on #90
Hi again,

I've sorted out the permissions issue and now I'm getting the same problems as @thorleifjaocbsen:

[code]

Thanks.

[2019-02-25 15:12] rzr commented on #90
As anyone fixed this in a fork ?

[2019-02-28 18:53] rzr commented on #91
More details:

https://app.fossa.io/projects/git%2Bgithub.com%2Frzr%2Fgeneric-sensors-lite/refs/branch/master/61d160c57bc0639264d94bf936285a0c284f9d07/issues/licensing?filter=policy_flag

[2019-03-10 13:48] rzr opened #94 "Maintenance status ?"
Is this project still maintained here or in forks ?

If it is abandoned, may I suggest to transfer it to this org:

https://github.com/abandonware

See procedure:

https://abandonware.github.io/

[2019-03-10 15:20] kelly commented on #94
I'm not going to transfer. Submit a PR if you have an update to the project.

[2019-03-10 15:20] #94 closed

[2019-03-10 15:58] rzr commented on #94
good to have feedback ! may you review those pending changes then:

https://github.com/kelly/node-i2c/pulls

Regarding creating new PR, I am somehow blocked by this issue:
https://github.com/kelly/node-i2c/issues/91

[2019-03-10 16:37] kelly commented on #94
Unfortunately I don't have a solution to that issue at this time.

[2019-04-06 16:02] mshaz opened #95 "installation error"
Hi

I need help on this. I need to install i2c before using PCA9685 node for node-red. I tried --unsafe-perm also did not work.

Thank you

pi@raspberrypi:~ $ sudo npm install -g i2c
npm WARN deprecated coffee-script@1.9.1: CoffeeScript on NPM has moved to "coffeescript" (no hyphen)

gyp WARN EACCES user "root" does not have permission to access the dev dir "/root/.node-gyp/10.15.3"
gyp WARN EACCE

[2019-04-06 19:21] kelly commented on #95
This is a permission issue. Not an issue with this library.

[2019-04-06 19:21] #95 closed

[2019-06-18 14:21] AndrewDugenske commented on #73
Closing due to no action.

[2019-06-18 14:21] #73 closed

[2019-06-18 14:22] AndrewDugenske commented on #73
Closing due to no action.

[2019-07-03 06:15] rzr commented on #91
Update: I've pinged author at
https://twitter.com/RzrFreeFr/status/1146300799947018241

[2019-07-15 08:59] rzr opened #97 "Maitenance status ?"
Is there any interest to keep maintaining this software ?

If yes please review/merge:
https://github.com/kelly/node-i2c/pull/96

If not I plan to fork it for my own purpose in this area:
https://abandonware.github.io/

Relate-to: https://github.com/abandonware/abandonware.github.io/issues/5

Regards

[2019-08-27 21:08] rzr commented on #97
Please release 0.2.4 with this change
https://github.com/kelly/node-i2c/pull/96

Then I will rebase @abandonware fork on it:

https://libraries.io/npm/@abandonware%2Fi2c/usage

[2019-09-24 11:38] jscaglia opened #98 "I2C does not work in the latest node version"
Hi, I tried to install de node module to mi nodejs app but I can't. I suppose that the reason is my nodejs and NPM version.
Do you know if the library is not compatible with the last version of nodeJS? If this is the case, do you know how I could install it?

Regards.

[2019-09-25 01:01] jscaglia commented on #90
Hello, I tried to install this library but does not working in Node 10.15.2
I need this library because is ones of PN532 dependencies.
The error that I have is ...
Do you know if exist any solution??

make: se entra en el directorio '/home/pi/noderest/cedula/node_modules/i2c/build'
  CXX(target) Release/obj.target/i2c/src/i2c.o
In file included from ../node_modules/nan/nan.h:190,

[2019-09-25 08:10] rzr commented on #90
As fallback try:

     npm install abandonware/i2c

[2019-09-25 13:04] jscaglia commented on #90
Is it possible that the repository is private?

npm ERR! Error while executing:
npm ERR! /usr/bin/git ls-remote -h -t ssh://git@github.com/abandonware/i2c.git
npm ERR!
npm ERR! Warning: Permanently added the RSA host key for IP address '140.82.113.4' to the list of known hosts.
npm ERR! git@github.com: Permission denied (publickey).
npm ERR! fatal: No se pudo leer del repositorio remoto.
npm ERR!

[2019-09-25 14:00] matteliot commented on #90
fwiw, I swapped to i2c-bus with minimal code changes and it's fine, I'm
using up to 12.4 or something:
https://www.npmjs.com/package/i2c-bus

On Wed, Sep 25, 2019 at 9:04 AM jscaglia <notifications@github.com> wrote:

[2019-09-25 14:12] jscaglia commented on #90
Hello, I tried to use this library but the problem is that is not compatible with npm PN532.
I have a raspberry pi 3 with an NFC board and I need to save data on an NFC card.
The PN532 library I see that it can do it without reaching such a low level.

Do you know if there is any way to do it with another library in case you can't with it?

http://wiki.sunfounder.cc/index.php?title=PN532_NFC_Modul

[2019-10-01 08:28] rzr commented on #97
Relate-to: https://github.com/miniben-90/mpu9250/pull/16

[2019-11-18 20:07] zvaehn commented on #98
I have tried the following and it worked for me (somehow):
1. `npm list -g | head -1` which gives you your global npm directory
(in my case `/home/pi/.nvm/versions/node/v8.0.0/lib`)
2. Change your working dir to this directory (`cd ...`)
3. Try a regular `npm install i2c` which will install i2c and it's dependencies in the subfolder node_modules
4. In my case i was able to install the package depe

[2019-12-15 12:48] shidevil commented on #98
Does it work on node12?

[2020-01-13 17:01] rzr commented on #90
Review welcome

Please test
https://www.npmjs.com/package/@abandonware/i2c/v/0.2.4-1

And confirm it did not break your applications

[2020-01-15 18:43] rzr commented on #17
Do you think it could be ported to also support OSX ?

[2020-02-24 10:29] rzr commented on #98
Meanwhile linked patch is merged , you can use:

https://www.npmjs.com/package/@abandonware/i2c

[2020-05-27 12:36] jscaglia commented on #98
Unfortunately it didn't work for me. My global npm directory is '/usr/local/lib' and when I tried install with and without sudo print this.

pi@raspberrypi:/usr/local/lib $ sudo npm install i2c
npm WARN npm npm does not support Node.js v10.19.0
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WA

[2020-05-27 14:17] rzr commented on #98
Relate-to: https://github.com/kelly/node-i2c/pull/96

[2020-06-05 12:53] mitch85 opened #101 "Segmentation fault on Scan. using @abandonware/i2c""
After update node to 12.x and update i2c to lates version of @abandonware/i2c. I got a segmentation fault on **new i2c();**

before with node v 8.x it works perfectly

[2020-07-03 16:19] hire-vladimir commented on #101
Also seeing **Segmentation fault** on `new i2c()` using node v12.18.1

[code]

[2020-07-07 02:58] raniglas commented on #101
Same here - segmentation fault on new i2c() with node v11.15.0
[code]

This is on Raspberry Pi4 aarch64.

[2020-10-18 10:16] rzr commented on #11
Feedback welcome at:
https://github.com/kelly/node-i2c/issues/97

[2020-10-20 14:45] rzr commented on #14
Is this issue still relevant on latest @abandonware's fork ?

https://libraries.io/npm/@abandonware%2Fi2c/usage

Relate-to: https://github.com/kelly/node-i2c/issues/97

[2020-10-20 14:46] rzr commented on #20
Is this issue still relevant on latest @abandonware's fork ?

https://libraries.io/npm/@abandonware%2Fi2c/usage

Relate-to: https://github.com/kelly/node-i2c/issues/97

[2020-10-20 14:46] rzr commented on #13
Is this issue still relevant on latest @abandonware's fork ?

https://libraries.io/npm/@abandonware%2Fi2c/usage

Relate-to: https://github.com/kelly/node-i2c/issues/97

[2020-10-20 14:46] rzr commented on #25
Is this issue still relevant on latest @abandonware's fork ?

https://libraries.io/npm/@abandonware%2Fi2c/usage

Relate-to: https://github.com/kelly/node-i2c/issues/97

[2020-10-20 14:46] rzr commented on #29
Is this issue still relevant on latest @abandonware's fork ?

https://libraries.io/npm/@abandonware%2Fi2c/usage

Relate-to: https://github.com/kelly/node-i2c/issues/97

[2020-10-20 14:47] rzr commented on #42
Is this issue still relevant on latest @abandonware's fork ?

https://libraries.io/npm/@abandonware%2Fi2c/usage

Relate-to: https://github.com/kelly/node-i2c/issues/97

[2020-10-20 14:47] rzr commented on #27
Is this issue still relevant on latest @abandonware's fork ?

https://libraries.io/npm/@abandonware%2Fi2c/usage

Relate-to: https://github.com/kelly/node-i2c/issues/97

[2020-10-20 14:51] rzr commented on #101
Please confirm on latest release

Also comment welcome at:

https://github.com/kelly/node-i2c/issues/97

[2021-04-01 08:20] rzr commented on #97
Hi,
May this project be xfered to @adoptware (to avoid collision with @abandonware fork) org for community maintenance, see:

http://www.rzr.cloudns.org//docs/abandonware/